// Colours partial

// Custom palette colors
$palette-light: #F2EFED;
$palette-dark: #404560;
$palette-accent: #676E8C;

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: $palette-accent;
// global accent colour (using palette accent color instead of gold)
$accent-color-hover: rgba(103, 110, 140, 0.8);
// global accent colour hover (slightly more transparent version)
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: $palette-light;
$section-dark: $palette-light;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;